name: Build
on:
  workflow_dispatch:
  push:
    paths:
      - "src/**/*.py"
      - "src/flavour-template.json"
      - "src/pip-requirements.txt"


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r src/pip-requirements.txt
      - run: python src/make_flavours.py
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          path: build/*.json